@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    
}

header {
    background-image: linear-gradient(to bottom, #0FEB6A,#245C3B, #3C6B50, #2F4136, #2F4136, #2E3330);
    background-attachment: fixed;
}

header > h1 {
    margin-top: 0%;
    padding-top: 20px;
    color: white;
    text-align: center;
}

header > p {
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: dotted;
}
nav {
    padding-bottom: 5px;
}

a{
    text-decoration: none;
}

nav > a {
    color: white;
    font-weight: bolder;
    padding: 5px;
}

nav >a:hover{
    text-decoration: underline;
}
